/* styles.css */
.menu-background-pane {
    -fx-background-image: url('menu.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.game-background-pane {
    -fx-background-image: url('game-background.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.won-background-pane {
    -fx-background-image: url('won.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.game-over-background-pane {
    -fx-background-image: url('gameover.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: #000;
}

.leaderboard-background-pane {
    -fx-background-image: url('leaderboard.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.main-page-button {
    -fx-min-width: 120px;
    -fx-max-width: 120px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-background-color: #1d428a;
    -fx-text-fill: white;
    -fx-border-color: #ffc72c;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-font-size: 16px;
}

.won-page-button {
    -fx-min-width: 115px;
    -fx-max-width: 115px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-background-color: #1d428a;
    -fx-text-fill: white;
    -fx-border-color: #ffc72c;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-font-size: 16px;
}

.game-result-pane {
    -fx-background-color: rgba(38, 40, 42, 0.5);
    -fx-background-radius: 25px;
}

.game-result-label{
    -fx-background-color: rgba(0, 94, 184, 0.6);
    -fx-text-fill: #ffc72c;
    -fx-background-radius: 25 25 0 0px;
}

.game-result-label{
    -fx-text-fill: #ffc72c;
    -fx-background-radius: 25 25 0 0px;
}

.score-label{
    -fx-text-fill: #fff;
    -fx-background-radius: 25 25 0 0px;
}

.score{
    -fx-text-fill: #ffc72c;
    -fx-background-radius: 25 25 0 0px;
}

.score-board{
    -fx-border-color: white;
    -fx-border-width: 2px;
}

.label-style {
    -fx-font-size: 18px; /* Adjust the font size as needed */
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.game-over-page-button {
    -fx-min-width: 120px;
    -fx-max-width: 120px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-background-color: #1d428a;
    -fx-text-fill: white;
    -fx-border-color: #ffc72c;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-font-size: 16px;
}

.game-message {
    -fx-text-fill: #FFF;
}

.leaderboard-header{
    -fx-text-fill: #1d428a;
    -fx-background-radius: 25 25 0 0px;
}

.leaderboard-score{
    -fx-text-fill: #ffc72c;
    -fx-background-radius: 25 25 0 0px;
}

.volume-button {
    -fx-min-width: 66px;
    -fx-max-width: 66px;
    -fx-min-height: 35px;
    -fx-max-height: 35px;
    -fx-background-color: #3071a9; /* Primary color for the button */
    -fx-background-radius: 5; /* Rounded corners */
    -fx-text-fill: white; /* Text color */
    -fx-font-weight: bold; /* Make the text bold */
    -fx-border-width: 2px; /* Border width */
    -fx-border-color: #205081; /* Border color */
    -fx-border-radius: 5; /* Border corner radius */
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 ); /* Shadow effect */
}
