/* styles.css */
.menu-background-pane {
    -fx-background-image: url('menu.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

/* style.css */
.main-page-button {
    -fx-min-width: 120px;
    -fx-max-width: 120px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-background-color: #1d428a;
    -fx-text-fill: white;
    -fx-border-color: #ffc72c;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-font-size: 16px;
}

.root {
    /* -fx-background-color: #1d1d1d; */
    -fx-background-color: black;
}

.goldRoot {
    -fx-background-color: #4b4a08;
}

.label {
    -fx-text-fill: #FFF;
    -fx-label-padding: 8px;
    -fx-font-size: 15px;
}
